.DS_Store
app.log
classlists/
database/
localdb/
feedback/
loadtest-zips/
logs/
node_modules/
archives/
gradingoutput/
scripts/
outline-and-ideas.txt
logging-notes.txt
resources/
uploads/
load-testing-notes.txt
loadtest-progress.txt
outdated/
mongo
ubuntu-install/
__pycache__/
example-solutions/*/
.vscode/
feedback/
config.json
startup-notes.txt
avamckenney.scs.carleton.ca.chainbundle2
avamckenney.scs.carleton.ca.crt
avamckenney.scs.carleton.ca.key
