.DS_Store
app.log
classlists/
database/
localdb/
feedback/
loadtest-zips/
logs/
node_modules/
archives/
gradingoutput/
scripts/
outline-and-ideas.txt
logging-notes.txt
resources/
uploads/
load-testing-notes.txt
loadtest-progress.txt
outdated/
mongo
ubuntu-install/
__pycache__/
example-solutions/*/
.vscode/
feedback/
config.json
startup-notes.txt
avamckenney.scs.carleton.ca.chainbundle2
avamckenney.scs.carleton.ca.crt
avamckenney.scs.carleton.ca.key
docker-tool.js
seccomp-python.json
assignment-examples/helloworld-grader.py
assignment-examples/1405-helloworld-example/Archive.zip
assignment-examples/1405-helloworld-example/helloworld 2.py.zip
assignment-examples/1405-helloworld-example/helloworld 3.py.zip
assignment-examples/1405-helloworld-example/helloworld 4.py.zip
assignment-examples/1405-helloworld-example/helloworld.py
assignment-examples/1405-helloworld-example/helloworld.py.zip
assignment-examples/test-banned-modules-python/1405Z-T4-Grader.py
assignment-examples/test-banned-modules-python/helloworld-grader.py
assignment-examples/test-banned-modules-python/helloworld.py
assignment-examples/test-banned-modules-python/example-solutions/both-correct.zip
assignment-examples/test-banned-modules-python/example-solutions/mat-mult-error.zip
assignment-examples/test-banned-modules-python/example-solutions/wrong-unique.zip
assignment-examples/test-banned-modules-python/example-solutions/wrong-unique/analysis.py
assignment-examples/test-banned-modules-python/example-solutions/wrong-unique/matmult.py
assignment-examples/1405-helloworld-example/Archive.zip
assignment-examples/1405-helloworld-example/helloworld.py
