
div.topnav
  a(href="/") Home
  if user
    if user.role === 'admin'
      a(href="/create-assignment") Create Assignment
    a(href="/users/" + user.username) Your Profile
    a(href="/users/" + user.username + "/password") Change Password
    a(href="/logout") Logout (currently logged in as #{user.username})

    
